@import "styles.css";

body {
    padding: 20px;
    padding-bottom: 0;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

main, header, .menu, #header-btns, .container, #goal-set {
    display: flex;
}

main, .menu {
    align-items: center;
}

main, header, .menu, .container {
    justify-content: space-evenly;
    flex-direction: column;
}

h1 {
    font-size: x-large;
}

h1, label[for="goal-pm"] {
    margin: 0;
}

#header-btns {
    flex-direction: row-reverse;
}

#header-btns, #goal-set {
    justify-content: space-between;
}

#current-user {
    text-transform: capitalize;
}

#large-msg {
    text-align: center;
    font-weight: normal;
}

.menu {
    width: 70%;
}

form {
    margin: 20px;
}

.container {
    align-content: space-between;
    width: 450px;
}

form, input, select {
    margin-top: 5px;
}

label {
    margin-top: 15px;
}

label, input, select {
    width: 100%;
}

input, select {
    box-sizing: border-box;
}

input, select, .menu > button {
    padding: 6px;
}

label span {
    font-family: 'Poppins', sans-serif;
}

label span, .menu > button, #current-user {
    font-weight: bold;
    color: var(--dk-blue);
}

#goal-set {
    flex:1;
}

input, select, .goal-radio {
    font-size: medium;
}

#goal-num {
    width: 200px;
    justify-self: flex-start;
}

.radio-btn {
    align-self: last baseline;
    padding-bottom: 10px;
}

input[type="radio"] {
    width: 25px;
    margin-right:-5px;
}

.form-btn {
    margin-top: 30px;
    align-self: end;
}

table {
    margin: 30px 0;
    min-width: 500px;
}

th, td {
    padding: 5px 15px;
}

tr:hover, .menu > button {
    background-color: var(--lt-blue);
}

#time-msg, .goal-radio {
    margin-top: 0;
}

.menu > button {
    font-size: large;
    border-radius: 50px;
    border-color: var(--dk-blue);
    border-width: 3.5px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 10px;
}
