@import "styles.css";

body {
    padding: 20px;
    padding-bottom: 0;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

main, header, .menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

h1 {
    font-size: x-large;
    margin: 0;
}

#header-btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#current-user {
    color: var(--dk-blue);
    text-transform: capitalize;
}

#large-msg {
    text-align: center;
    font-weight: normal;
}

.menu {
    width: 70%;
    align-items: center;
}

.menu > button {
    font-size: large;
    font-weight: bold;
    color: var(--dk-blue);
    background-color: var(--lt-blue);
    border-radius: 50px;
    border-color: var(--dk-blue);
    border-width: 4px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

form {
    margin: 20px;
    margin-top: 10px;
}

.container {
    display:flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    align-items: end;
    width: 400px;
}

label, input, select {
    width: 100%;
}

input, select {
    box-sizing: border-box;
    padding: 6px;
}

label p {
    margin-bottom: 5px;
    padding: 0;
    font-weight: bold;
    color: var(--dk-blue);
    font-family: 'Poppins', sans-serif;
}

#goal-set {
    display:flex;
    flex-direction: row; 
    align-items:last baseline;
    flex-grow: 1;
    justify-items: left;
}

label[for="goal-pm"] {
    font-size: small;
    width: 20%;
    margin: 0;
    padding-bottom:3px;
}

#goal-num {
    width: 45%;
    margin-right: auto;
}

.radio-btn {
    align-self: last baseline;
    width:27%;
    text-align: right;
}

input[type="radio"] {
    width: 20px;
    margin-right: -5px;
}


.form-btn {
    margin-top: 30px;
    float: right;
}