@import "styles.css";

body {
    margin: 20px;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

main, header, #choices {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

h1 {
    font-size: large;
    margin: 0;
    margin-top: -20px;
}

#logout-btn {
    width: min-content;
    position: relative;
    margin-left: auto;
}

#current-user {
    color: var(--dk-blue);
    text-transform: capitalize;
}

#large-msg {
    text-align: center;
    font-weight: normal;
}

#choices, #graphics {
    width: 50%;
    align-items: center;
}

#choices > button {
    font-size: large;
    font-weight: bold;
    color: var(--dk-blue);
    float: right;
    background-color: var(--lt-blue);
    border-radius: 50px;
    border-color: var(--dk-blue);
    border-width: 4px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

#choices > button:hover {
    background-color: var(--md-blue);
    color:white;
}