/*
* Author: Aileen Zhang
* CS 132 Spring 2023
*
* This is the CSS shared across pages for the TimeLogger app.
*/

:root {
    --dk-blue: #2a5e77;
    --md-blue: #3290bc;
    --lt-blue: #f2f9fef8;
}

html {
    height: 100vh;
    min-width: 700px;
}

body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 100%;
    min-height: 100%;
    margin:0;
    box-sizing: border-box;
}

body, input, option, select {
    font-family: 'JetBrains Mono', monospace;
}

h1, button {
    font-family: 'Poppins', sans-serif;
}

header, #timestamp, footer, h2, h3 {
    text-align: center;
}

header, #time, footer {
    color:var(--dk-blue);
}

#time {
    font-weight: bolder;
}

footer {
    font-size: small;
    margin-top: auto;
}

a {
    text-decoration:inherit;
    color:inherit;
}

a:hover {
    color:var(--md-blue);
}

.nav-btn {
    font-size: large;
    background-color: var(--dk-blue);
    color: white;
    border-radius: 20px;
    border-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    background-color: var(--md-blue) !important;
    color: white !important;
}

.hidden {
    display: none !important;
}